.header {
	position: fixed;
	inline-size: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	transition: all 0.3s;
	&--scroll {
		transition: background 0.5s;
		background: linear-gradient(90deg, #493179d7 0%, #365390de 45%, #266fa3d9 86%, #1e7facd9 100%);
		.header__container {
			padding-block: toRem(15);
			transition: padding-block 0.5s;
		}
	}
	// .header__container

	&__container {
		display: grid;
		grid-template-columns: toRem(112) auto;
		column-gap: toRem(20);
		align-items: center;
		justify-content: space-between;
		padding-block: toRem(22);
		@media (min-width: toEm(768)) {
			padding-block: toRem(30);
		}
		@media (min-width: toEm(992)) {
			padding-block: toRem(30);
			grid-template-columns: toRem(200) auto auto;
		}
	}

	// .header__logo
	&__logo {
		z-index: 5;
		color: var(--white-color);
		font-size: toRem(20.182);
		font-weight: 600;

		display: flex;
		align-items: center;
		gap: toRem(5);
		img {
			width: toRem(21.494);
		}
		@media (min-width: toEm(992)) {
			font-size: toRem(36);
			img {
				width: toRem(38.34);
			}
		}
	}

	// .header__menu
	&__menu {
	}

	// .header__actions
	&__actions {
	}
}
.menu {
	z-index: 2;
	@media (max-width: toEm(991.98)) {
		background-color: #2a699e;
		padding: toRem(120) toRem(25) toRem(30) toRem(25);
		position: fixed;
		inline-size: 100%;
		block-size: 100%;
		inset-block-start: 0;
		inset-inline-start: -100%;
		transition: inset-inline-start 0.5s;
		overflow: auto;
		.menu-open & {
			inset-inline-start: 0%;
		}
	}
	// .menu__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(30);
	}

	// .menu__list
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(30) toRem(38);

		@media (min-width: toEm(992)) {
			flex-direction: row;
		}
	}

	// .menu__item
	&__item {
	}

	// .menu__link
	&__link {
		color: var(--white-color);
		font-size: toRem(20);
		transition: color 0.3s;

		@media (min-width: toEm(992)) {
			font-size: toRem(16);
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--orange-color);
				transition: color 0.3s;
			}
		}
	}
}
.actions-header {
	justify-self: end;
	z-index: 5;

	display: flex;
	align-items: center;
	gap: toRem(38);

	// .actions-header__link
	&__link {
		color: #fff;
		font-size: toRem(20);
		font-weight: 700;
		transition: color 0.3s;

		@media (min-width: toEm(992)) {
			font-size: toRem(16);
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--orange-color);
				transition: color 0.3s;
			}
		}
	}

	// .actions-header__button
	&__button {
		border-radius: toRem(96);
		background: var(--orange-color);
		padding: toRem(12) toRem(40);

		color: var(--white-color);
		font-size: toRem(16);
		font-weight: 700;
		transition: background 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background: var(--orange-hover-color);
				transition: background 0.3s;
			}
		}
	}

	// .actions-header__burger
	&__burger {
	}
}

.icon-menu {
	display: flex;
	position: relative;
	height: toRem(13);
	width: toRem(20);
	gap: toRem(3);
	@media (min-width: toEm(992)) {
		display: none;
	}

	&::after,
	&::before,
	span {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: toRem(2);
		background-color: var(--white-color);
		transition: all 0.3s;
	}

	&::after {
		bottom: 0;
		.menu-open & {
			bottom: 50%;
			transform: translateY(50%) rotate(45deg);
		}
	}

	&::before {
		top: 0;
		.menu-open & {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	span {
		top: 50%;
		transform: translateY(-50%);
		.menu-open & {
			inline-size: 0;
		}
	}
}
