@use "sass:math";
/* Підключення фрифтів */

/* Google Fonts (Plugin) */

@import "_mixins.scss";

/* Локальне підключення шрифтів */
// @import "_fonts.scss";

/* Скидання стилів */
@import "_reset.scss";

/* Змінні */
@import "_variables.scss";

/* Основні стилі */
body {
	font-family: "Proxima Nova", sans-serif;
	font-size: toRem(14);
	line-height: 1.2;
	background: var(--white-color);
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	.loaded & {
		opacity: 1;
	}
}
.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

// Компоненти
@import "_components.scss";
@import "_header.scss";
@import "_footer.scss";
// Сторінки

/* --------------------- */
[class*="__container"] {
	padding-inline: toRem(32);

	@media (min-width: toEm(992.98)) {
		margin: 0 auto;
		max-width: toRem(1230);
	}
}
/* --------------------- */

.hero {
	position: relative;
	padding-top: toRem(102);
	padding-bottom: toRem(25);
	background: url("../img/hero/bg-mobile.png") 0 0 / cover no-repeat;
	z-index: 1;

	// @media (min-width: toEm(768)) {
	// 	padding-top: toRem(157);
	// 	padding-bottom: toRem(80);
	// }
	@media (min-width: toEm(992)) {
		padding-top: toRem(157);
		padding-bottom: toRem(80);
		background: #f7f3fa;
	}

	.hero__background {
		display: none;
		@media (min-width: toEm(992)) {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 80.83%;
			z-index: -1;
		}
	}

	// .hero__container
	&__container {
	}

	// .hero__inner

	&__inner {
		display: flex;
		flex-wrap: wrap;
		&:not(:last-child) {
			margin-bottom: toRem(33);
		}

		@media (min-width: toEm(768)) {
			flex-wrap: nowrap;
			justify-content: space-between;
			//align-items: center;
			gap: toRem(15);
		}
	}

	// .hero__column

	&__column {
		flex-basis: 100%;
		color: var(--white-color);
		&:not(:last-child) {
			margin-bottom: toRem(33);
		}
		@media (min-width: toEm(500)) {
			text-align: center;
		}
		@media (min-width: toEm(768)) {
			text-align: left;
			flex: 0 0 40%;
		}
	}

	// .hero__title

	&__title {
		font-size: toRem(38.345);
		font-weight: 800;
		&:not(:last-child) {
			margin-bottom: toRem(10.5);
		}
		@media (min-width: toEm(768)) {
			font-size: toRem(40);
			&:not(:last-child) {
				margin-bottom: toRem(18.25);
			}
		}
		@media (min-width: toEm(992)) {
			font-size: toRem(48);
		}
	}

	// .hero__text
	&__text {
		font-size: toRem(14.135);
		max-width: toRem(380);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		@media (min-width: toEm(500)) {
			margin: 0 auto;
		}
		@media (min-width: toEm(768)) {
			font-size: toRem(18.255);
			&:not(:last-child) {
				margin-inline: 0;
				margin-bottom: toRem(38);
			}
		}
	}

	// .hero__link

	&__link {
		text-align: center;
		font-size: toRem(14.58);
		font-weight: 700;
		border-radius: toRem(3);
		border: toRem(0.8) solid #aba3a333;
		background: #798ac9;
		padding: toRem(11) toRem(48);
		transition: background 0.3s;

		&:not(:last-child) {
			margin-bottom: toRem(33);
		}
		@media (any-hover: hover) {
			&:hover {
				background: #677ecf;
				transition: background 0.3s;
			}
		}
		@media (min-width: toEm(768)) {
			font-size: toRem(18);
		}
	}

	// .hero__partners
	&__partners {
	}
}
//---- payments ---------------------------------------------------------------------------------------------
.payments {
	padding-top: toRem(80);
	padding-bottom: toRem(60);
	@media (min-width: toEm(768)) {
		background: #f7f3fa;
	}

	// .payments__container
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		flex-wrap: wrap;
		gap: toRem(31) toRem(15);
		@media (min-width: toEm(600)) {
			gap: toRem(15);
			flex-wrap: nowrap;
			flex-direction: row-reverse;
		}
		@media (min-width: toEm(768)) {
			flex-direction: row;
			align-items: start;
			justify-content: space-between;
			gap: toRem(30);

			position: relative;
			z-index: 1;
		}
		@media (min-width: toEm(900)) {
			gap: toRem(40);
		}
	}

	// .payments__column
	&__column {
		@media (min-width: toEm(600)) {
			flex: 0 1 50%;
		}
		@media (min-width: toEm(1100)) {
			flex: 0 1 36.2%;
		}
	}

	// .payments__contetn
	&__contetn {
	}

	// .payments__list
	&__list {
		display: none;
		@media (min-width: toEm(768)) {
			flex: 0 1 60%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: toRem(26) toRem(26);
			padding-top: toRem(50);
		}

		@media (min-width: toEm(1100)) {
			flex: 0 1 55%;
			gap: toRem(36) toRem(40);
			padding-top: toRem(70);
		}
	}

	// .payments__card

	&__card {
	}
}

.images-item {
	margin: 0 auto;

	aspect-ratio: 185 / 147;
	max-width: toRem(185);
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	@media (min-width: toEm(600)) {
		max-width: toRem(250);
	}
	@media (min-width: toEm(768)) {
		max-width: toRem(705);
		aspect-ratio: 705 / 560;
		margin-right: -8%;
	}
}

.card-payments {
	display: none;
	@media (min-width: toEm(768)) {
		display: block;
		position: relative;
		padding: toRem(20) toRem(25) toRem(20) toRem(25);
		max-width: toRem(280);
		border-radius: toRem(4);
		background: var(--white-color);
		box-shadow: toRem(7) toRem(10) toRem(50) 0 #e8e2f0;
		transition: all 1s;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: toRem(5);
			height: 100%;
			border-radius: toRem(10) 0 0 toRem(10);
			background: linear-gradient(151deg, #00b5d0 3.87%, #5c0e62 110.68%);
			box-shadow: toRem(7) toRem(10) toRem(50) 0 #e8e2f0;
		}
		// .card-payments__icon
		&__icon {
			width: toRem(24);
			height: toRem(24);
			object-fit: contain;
			&:not(:last-child) {
				margin-bottom: toRem(2);
			}
		}

		// .card-payments__title
		&__title {
			color: #5c5e6e;
			font-size: toRem(21);
			font-weight: 700;
			line-height: 1.286;
			letter-spacing: toRem(0.8);
			&:not(:last-child) {
				margin-bottom: toRem(8);
			}
		}

		// .card-payments__text
		&__text {
			color: #756f6f;
			font-size: toRem(16);
			line-height: 1.286;
			letter-spacing: toRem(1.2);
		}
		&:nth-child(odd) {
			transform: translateY(toRem(60));
		}
		@media (any-hover: hover) {
			&:hover {
				transition: all 1s;
				box-shadow: 1px 9px 23px -6px rgba(120, 115, 115, 0.66);
				-webkit-box-shadow: 1px 9px 23px -6px rgba(120, 115, 115, 0.66);
				-moz-box-shadow: 1px 9px 23px -6px rgba(120, 115, 115, 0.66);
			}
		}
	}
	@media (min-width: toEm(1100)) {
		padding: toRem(30) toRem(47) toRem(30) toRem(35);
	}
}

//-------------------------------------------------------------------------------------------------
.block-partners {
	@media (min-width: toEm(768)) {
		margin-top: -10%;
		padding-top: clamp(toRem(130), 16.5%, toRem(230));
		padding-bottom: toRem(70);
		background: #f7f3fa;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: white;
			border-radius: 74% 31% 10% 10% / 37% 98% 0% 0%;
		}
	}
	// .block-partners__container
	&__container {
		position: relative;
		z-index: 1;
	}
	// .block-partners__list
	&__list {
	}
}

//----- crediet-card --------------------------------------------------------------------------------------------

.crediet-card {
	margin-bottom: toRem(50);
	// .crediet-card__container

	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: toRem(22) toRem(15);
		@media (min-width: toEm(600)) {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}

	// .crediet-card__image

	&__image {
		flex: 0 1 50%;
		aspect-ratio: 260 / 238;
		max-width: toRem(260);
		transform: scaleX(-1);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: toEm(600)) {
			aspect-ratio: 522 / 480;
			max-width: toRem(522);
			transform: scaleX(1);
		}
	}

	// .crediet-card__contetn

	&__contetn {
		@media (min-width: toEm(600)) {
			flex: 1 1 48%;
			margin-left: clamp(toRem(30), 36%, toRem(123));
		}
	}
}
//----- mobile-banking --------------------------------------------------------------------------------------------

.mobile-banking {
	margin-bottom: toRem(38);
	// .mobile-banking__container

	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: toRem(50) toRem(15);
		@media (min-width: toEm(600)) {
			flex-direction: row;
			justify-content: space-around;
		}
	}

	// .mobile-banking__image

	&__image {
		flex: 0 1 50%;
		aspect-ratio: 295 / 213;
		max-width: toRem(295);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: toEm(600)) {
			aspect-ratio: 517 / 374;
			max-width: toRem(517);
		}
	}

	// .mobile-banking__contetn

	&__contetn {
		@media (min-width: toEm(600)) {
			margin-left: clamp(toRem(30), 36%, toRem(123));
			flex: 1 1 48%;
		}
	}
}

//----- secure --------------------------------------------------------------------------------------------
.secure {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: toRem(75);
	position: relative;

	@media (min-width: toEm(600)) {
		grid-template-columns: toRem(32) 1fr minmax(auto, toRem(1166)) 1fr toRem(32);
		margin-bottom: toRem(60);
	}

	&__inner {
		grid-column: 2 / 3;
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		gap: toRem(55) toRem(15);
		@media (min-width: toEm(600)) {
			grid-column: 3 / 6;
			flex-direction: row;
		}
		position: relative;
		z-index: 1;
	}

	// .secure__image
	&__image {
		width: 100%;
		aspect-ratio: 433 / 215;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: toRem(10.134);
		}
		@media (min-width: toEm(600)) {
			flex: 1 1 50%;
			aspect-ratio: 707 / 352;
			max-width: toRem(707);
			max-height: toRem(352);
		}
	}

	// .secure__column
	&__column {
		@media (min-width: toEm(600)) {
			flex: 0 0 50%;
		}
	}

	// .secure__contetn

	&__contetn {
		margin-inline: toRem(32);
		@media (min-width: toEm(600)) {
			margin-left: clamp(toRem(30), 36%, toRem(123));
			margin-right: 0;
		}
	}
}

//----- testimonial --------------------------------------------------------------------------------------------
.testimonial {
	position: relative;
	padding-top: toRem(80);
	padding-bottom: toRem(45);
	background: linear-gradient(90deg, #493179 0%, #365290 45%, #266fa3 86%, #1e7fac 100%);
	@media (min-width: toEm(1000)) {
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: toRem(-1);
			clip-path: polygon(0 0, 0% 100%, 100% 0);
			width: 100%;
			height: 40%;
			background-color: var(--white-color);
		}
	}
	// .testimonial__inner
	&__inner {
		@media (min-width: toEm(1000)) {
			position: relative;
			&::after,
			&::before {
				content: "";
				position: absolute;
				width: toRem(220);
				height: toRem(964);
				background: url("../img/decor.svg") no-repeat;
			}
			&::after {
				bottom: 0;
				right: 0;
				transform: rotateY(180deg);
			}
			&::before {
				content: "";
				top: -60%;
				left: -3%;
			}
		}
	}
	// .testimonial__container
	&__container {
		@media (min-width: toEm(1000)) {
			display: flex;
			position: relative;
			z-index: 1;
		}
	}

	// .testimonial__column

	&__column {
		&:not(:last-child) {
			margin-bottom: toRem(70);
		}
		@media (min-width: toEm(1000)) {
			flex: 1 0 50%;
			align-self: flex-end;
			&:not(:last-child) {
				margin-bottom: toRem(00);
			}
		}
	}

	// .testimonial__contetn

	&__contetn {
		text-align: center;
		@media (min-width: toEm(1000)) {
			text-align: left;
		}
	}

	// .testimonial__items
	&__items {
		@media (min-width: toEm(1000)) {
			flex: 0 1 50%;
			position: relative;
			margin-block: toRem(70);
		}
	}
	// .testimonial__slider

	&__slider {
	}

	// .testimonial__avatars
	&__avatars {
		display: none;
		@media (min-width: toEm(1000)) {
			display: block;
		}
	}

	// .testimonial__avatar
	&__avatar {
		@media (min-width: toEm(1000)) {
			position: absolute;
			left: 0;
			top: 0;
			width: toRem(80);
			height: toRem(80);
			border-radius: 50%;
			border: toRem(3) solid white;
			cursor: pointer;
			transition: transform 0.3s;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.1);
				}
			}

			&:nth-child(1) {
				top: -15%;
				left: 80%;
				width: toRem(101);
				height: toRem(101);
			}

			&:nth-child(2) {
				top: 40%;
				left: 78%;
				width: toRem(76);
				height: toRem(76);
			}

			&:nth-child(3) {
				top: 90%;
				left: 40%;
				width: toRem(90);
				height: toRem(90);
			}

			&:nth-child(4) {
				top: 88%;
				left: 85%;
				width: toRem(67);
				height: toRem(67);
			}
		}
	}
}

.slider-testimonial {
	margin: 0;
	width: 100%;
	@media (min-width: toEm(1000)) {
		max-width: toRem(370);
		margin-bottom: toRem(100);
	}
	// .slider-testimonial__wrapper

	&__wrapper {
	}

	// .slider-testimonial__slide

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: toRem(42);
		}
	}

	// .slider-testimonial__image

	&__image {
		max-width: toRem(126);
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		border: toRem(3) solid var(--white-color);
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:not(:last-child) {
			margin-bottom: toRem(34);
		}
	}

	// .slider-testimonial__caption

	&__caption {
	}

	// .slider-testimonial__text

	&__text {
		color: #fff;
		text-align: center;
		font-weight: 700;
		line-height: 1.286;
		letter-spacing: toRem(0.56);
		max-width: toRem(360);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .slider-testimonial__author

	&__author {
		color: #ffbc51;
		text-align: center;
		font-size: toRem(21.123);
		font-weight: 900;
		line-height: 1.286;
		letter-spacing: toRem(1.584);
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: toRem(4);
		}
	}

	// .slider-testimoniall__position

	&__position {
		color: #ffbc51;
		text-align: center;
		font-size: toRem(14);
		font-weight: 700;
		line-height: 1.286;
		letter-spacing: toRem(0.563);
	}

	.swiper-pagination {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(4);
		@media (min-width: toEm(1000)) {
			display: none;
		}
	}

	.swiper-pagination-bullet {
		width: toRem(8);
		height: toRem(8);
		border-radius: 50%;
		background: #434472;
		margin: 0px !important;
		opacity: 1;
	}
	.swiper-pagination-bullet-active {
		background-color: var(--white-color);
	}
}

//----- try-blinqpay --------------------------------------------------------------------------------------------

.try-blinqpay {
	display: none;
	@media (min-width: toEm(768)) {
		display: block;
		background: linear-gradient(90deg, #493179 0%, #365290 45%, #266fa3 86%, #1e7fac 100%);
	}
	// .try-blinqpay__container

	&__container {
	}

	// .try-blinqpay__body

	&__body {
		@media (min-width: toEm(768)) {
			transform: translateY(50%);
			margin: 0 auto;
			width: clamp(toRem(600), 95%, toRem(1101));
			height: toRem(110);
			border-radius: toRem(10);
			background: var(--white-color);

			display: flex;
			align-items: center;
			justify-content: center;
			gap: toRem(70);
			@media (min-width: toEm(992)) {
				height: toRem(182);
			}
		}
	}

	// .try-blinqpay__contetn

	&__contetn {
	}

	// .try-blinqpay__link
	&__link {
		border-radius: toRem(4);
		background: #ffbc51;

		color: #fff;
		text-align: center;
		font-weight: 700;

		padding: toRem(16) toRem(60);
		position: relative;
		z-index: 2;

		&::after {
			content: "";
			position: absolute;
			bottom: toRem(-5);
			left: 50%;
			width: 80%;
			transform: translateX(-50%);
			height: toRem(35);
			background: transparent;
			opacity: 0.8;
			filter: blur(toRem(9));
			z-index: -1;
			transition: background 0.3s;
		}

		@media (any-hover: hover) {
			&:hover {
				&::after {
					background: #ffbc51;
					transition: background 0.3s;
				}
			}
		}
	}
}
